.bg-world {
    background: linear-gradient(90deg, rgba(30,41,59,0.3) 0%, rgba(30,41,59,0.3) 100%), url("/assets/img/services.webp");
    background-size: cover;
    background-position: center center;
}
