<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="TENMORE is focussed on creating a better tomorrow by enabling you to focus on your product">
    <title>{{ title }} {% if title %} - {%endif%}TENMORE</title>
        
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Oswald:wght@400;600;700&display=swap" rel="stylesheet" preload>

    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="/styles/global.css">
    {% block styles %}
    {% endblock %}
</head>
<body id="top" class="bg-slate-800 text-blue-300">
    {% include "partials/navbar.njk" %}
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    
    <script src="/scripts/lib/axios.min.js"></script>
    <script src="/scripts/lib/anime.min.js"></script>
    {% block scripts %}
    {% endblock%}
</body>
</html>