<footer class="bg-blue-300 text-slate-800">
    <div class="container mx-auto px-6 pt-10 lg:pt-0">
        <div class="mb-8">
            <h2 class="font-header text-3xl mb-2">
                TENMORE
            </h2>
            <ul class="list-none block">
                <li><a class="hover:underline" href="">Back to top</a></li>
                <li><a class="hover:underline" href="">About me</a></li>
                <li><a class="hover:underline" href="">Services</a></li>
            </ul>
        </div>
        <div class="flex gap-2 justify-center font-extralight text-slate-900 pb-12">
            <div><a class="hover:underline" href="">sitemap</a></div>
            <div>|</div>
            <div><a class="hover:underline" href="">privacy policy</a></div>
            <div>|</div>
            <div><a class="hover:underline" href="">robots.txt</a></div>
        </div>
    </div>
</footer>
