<footer class="bg-blue-300 text-slate-800">
    <div class="bg-blue-300">
        <svg class="w-full fill-slate-800" viewBox="0 0 900 70" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><path d="M0 11L21.5 12.7C43 14.3 86 17.7 128.8 17.2C171.7 16.7 214.3 12.3 257.2 10.3C300 8.3 343 8.7 385.8 8.8C428.7 9 471.3 9 514.2 11.3C557 13.7 600 18.3 642.8 20.5C685.7 22.7 728.3 22.3 771.2 21.2C814 20 857 18 878.5 17L900 16L900 0L878.5 0C857 0 814 0 771.2 0C728.3 0 685.7 0 642.8 0C600 0 557 0 514.2 0C471.3 0 428.7 0 385.8 0C343 0 300 0 257.2 0C214.3 0 171.7 0 128.8 0C86 0 43 0 21.5 0L0 0Z" stroke-linecap="round" stroke-linejoin="miter"></path></svg>
    </div>
    <div class="container mx-auto px-6 pt-10 lg:pt-0">
        <div class="mb-8">
            <h2 class="font-header text-3xl mb-2">
                TENMORE
            </h2>
            <ul class="list-none block">
                <li><a class="hover:underline" href="#top">Back to top</a></li>
                <li><a class="hover:underline" href="#about">About me</a></li>
                <li><a class="hover:underline" href="#services">Services</a></li>
                {% if posts.length > 0 %}
                <li><a class="hover:underline" href="#blog">Blog</a></li>
                {% endif %}
                <li><a class="hover:underline" href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="flex gap-2 justify-center font-extralight text-slate-900 pb-12">
            <div><a class="hover:underline" href="">sitemap</a></div>
            <div>|</div>
            <div><a class="hover:underline" href="">privacy policy</a></div>
            <div>|</div>
            <div><a class="hover:underline" href="">robots.txt</a></div>
        </div>
    </div>
</footer>
