<nav id="_js-navbar" class="sticky z-50 top-0 bg-slate-800 border-gray-200 {% if post %}shadow-md{% endif %}">
  <div class="container px-6 py-2.5 lg:px-0 relative flex flex-wrap items-center justify-between mx-auto">
    <div id="_js-logo" class="flex-1 transition {% if not post %} opacity-0 {% endif %} font-header text-5xl font-medium lg:block">TENMORE</div>
    <button id="_js-toggle-menu" type="button" class="inline-flex items-center p-2 ml-3 text-sm text-blue-300 rounded-lg lg:hidden" aria-controls="navbar-default" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
        <svg class="w-full" xmlns="http://www.w3.org/2000/svg" viewBox="-5 -7 24 24" width="32" height="32" fill="currentColor">
            <path d="M1 0h5a1 1 0 1 1 0 2H1a1 1 0 1 1 0-2zm7 8h5a1 1 0 0 1 0 2H8a1 1 0 1 1 0-2zM1 4h12a1 1 0 0 1 0 2H1a1 1 0 1 1 0-2z"></path>
        </svg>
    </button>
    <div class="h-0 overflow-hidden shadow-lg transition absolute inset-x-0 top-full w-full lg:block lg:shadow-none lg:w-auto lg:h-auto lg:overflow-auto lg:relative" id="_js-navbar-content">
      <ul class="flex flex-col p-4 bg-slate-800 lg:flex-row lg:space-x-8 lg:mt-0 lg:text-xl lg:font-medium lg:border-0">
        <li>
          <a href="{% if post %}/{% endif %}#" class="link-item block py-2 pl-3 pr-4 font-header transition text-blue-300 bg-blue-700 rounded lg:bg-transparent lg:p-0" aria-current="page">Home</a>
        </li>
        <li>
          <a href="{% if post %}/{% endif %}#about" class="link-item block py-2 pl-3 pr-4 font-header transition text-blue-300 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-500 lg:p-0">About</a>
        </li>
        <li>
          <a href="{% if post %}/{% endif %}#services" class="link-item block py-2 pl-3 pr-4 font-header transition text-blue-300 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-500 lg:p-0">Services</a>
        </li>
        {% if posts.length > 0 %}
        <li>
          <a href="{% if post %}/{% endif %}#blog" class="link-item block py-2 pl-3 pr-4 font-header transition text-blue-300 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-500 lg:p-0">Blog</a>
        </li>
        {% endif %}
        <li>
          <a href="{% if post %}/{% endif %}#contact" class="link-item block py-2 pl-3 pr-4 font-header transition text-blue-300 rounded hover:bg-gray-100 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-500 lg:p-0">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>